h1{
    text-align:center;
}

h2{
    text-align:center;
}
body{
    background-color:lightyellow;
}
body{
    background-image:url("backy.PNG");
}
.menu-image{
    width:250px;
}
.front-image{
    width:600px;
}
.menu-container{
    display:flex;
}