h1{
    text-align:center;
}

h2{
    text-align:center;
}
P{
    text-align:center;
}
body{
    background-color:lightyellow;
}
body{
    background-image:url("backy.PNG");
}
.menu-image{
    
    width:300px;
    
}
.front-image{
    width:600px;
}
.menu-container{
    display:flex;
    gap:100px;
}
.pic-container{
    display:flex;
    gap:50px;
    width:600px;
}